DB_CONNECTION_STRING="metadata=res://*/CheckSalud.csdl|res://*/CheckSalud.ssdl|res://*/CheckSalud.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=;initial catalog=CheckSalud_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"