<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicioAnalisis" />
                <binding name="BasicHttpBinding_IServicioEvaluacion" />
                <binding name="BasicHttpBinding_IServicioResultado" />
                <binding name="BasicHttpBinding_IServicioMedico" />
                <binding name="BasicHttpBinding_IServicioEspecialidad" />
                <binding name="BasicHttpBinding_IServicioUbicacion" />
                <binding name="BasicHttpBinding_IServicioUsuario" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF_CheckSalud/ServicioAnalisis/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioAnalisis"
                contract="ProxyAnalisis.IServicioAnalisis" name="BasicHttpBinding_IServicioAnalisis" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF_CheckSalud/ServicioEvaluacion/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioEvaluacion"
                contract="ProxyEvaluacion.IServicioEvaluacion" name="BasicHttpBinding_IServicioEvaluacion" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF_CheckSalud/ServicioResultado/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioResultado"
                contract="ProxyResultado.IServicioResultado" name="BasicHttpBinding_IServicioResultado" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF_CheckSalud/ServicioMedico/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioMedico"
                contract="ProxyMedico.IServicioMedico" name="BasicHttpBinding_IServicioMedico" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF_CheckSalud/ServiceEspecialidad/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioEspecialidad"
                contract="ProxyEspecialidad.IServicioEspecialidad" name="BasicHttpBinding_IServicioEspecialidad" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF_CheckSalud/ServicioUbicacion/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioUbicacion"
                contract="ProxyUbicacion.IServicioUbicacion" name="BasicHttpBinding_IServicioUbicacion" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF_CheckSalud/ServicioUsuario/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioUsuario"
                contract="ProxyUsuario.IServicioUsuario" name="BasicHttpBinding_IServicioUsuario" />
        </client>
    </system.serviceModel>
</configuration>